input[type="date"] {
  background-color: transparent;
  padding: 15px;
  color: #868e96;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  border: solid 1px #adb5bd;
  outline: none;
  border-radius: 5px;
  width: 170px;
}

::webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
